<aside class="sidebar">
  <div class="sidebar-head">
    <div id="lang-tabs" class="lang-tabs"></div>
  </div>
  <ul id="seg-list" class="seg-list">
    <li class="seg-empty">Generate subtitles to edit them here.</li>
  </ul>
  <div class="sidebar-foot">
    <button id="add-seg-btn" class="btn-ghost" type="button" disabled>
      + Add line
    </button>
    <span id="seg-count" class="seg-count"></span>
  </div>
</aside>
